/* work sense font from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  padding: 20px 20px;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  border: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header style */

header {
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131318;
}

.nav-travel-text {
  color: #ff5400;
  font-weight: 800;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #131313;
}

/* banner style */

.banner-content {
  position: absolute;
  top: 400px;
  left: 201px;
  right: 201px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner-description {
  color: #fff;
}

.banner-input {
  border-radius: 8px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.banner-input .input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 700;
}

#search-input {
  border-radius: 8px;
  background: #ff5400;
  color: white;
  width: 174px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
}

.icon {
  background-image: image("./Images/Frame.svg");
}

.banner img {
  width: 100%;
  margin-top: 20px;
}

/* main styles */

main {
  max-width: 1440px;
  margin: 70px auto;
}

/* popular tour design */



/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  .banner-title{
   font-size: 1rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 0 auto;
  }

  .banner img{
    height: 500px;
    width: 400px;
  }

  .banner-content {
    position: absolute;
    top: 270px;
    left: 50px;
   
  }


  nav {
    flex-direction: column;
  }
}

/* medium device tablet */

@media screen and (min-width: 576) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav {
    flex-direction: column;
  }
}
